*{
  --h1-font-size: 10rem;
  --h2-font-size: 2rem;
  --p-font-size: 1.2rem;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  line-height: 2;
  font-weight: normal;
}

a {
  text-align: center;
  display: block;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h2 {
  font-size: var(--h2-font-size);
  margin: 0px;
}

h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 21px;
  text-transform: uppercase;
}

p {
  font-size: var(--p-font-size);
  padding: 2rem 0;
  text-align: center;
  line-height: var(--p-font-size);
}

hr {
  max-width: 720px;
  background-color: #72aaa4;
  width: 55%;
  height: 2px;
  border: 1.5px solid;
  padding: -20px;
  border-radius: 30px;
}

.first {
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
  opacity: .2;
  background-blend-mode: luminosity;
  background-image: url("../pics/stem1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.first-section{
  position: relative;
  height: 570px;
}

.big-nav-container {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px rgb(0 0 0 / 20%);
  color: black;
  background-color: rgba(250,250,250,.7);
}

.big-welcome-container {
  padding-bottom: 50px;
  margin-bottom: -160px;
  display: flex;
  justify-content: center;
}
.big-welcome-container a{
  background: rgba(0,0,0,.9);
  color: white;
  padding: 20px 50px;
  font-size: var(--h2-font-size);
  font-family: 'Trebuchet MS', sans-serif;
}

.big-department-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.big-bot-container {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

.cont {
  max-width: 1440px;
}

.nav {
  max-width: 1440px;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

#nav-bar-title {
  padding: 5px;
  margin: 5px;
}

.navigation-bar {
  
  display: flex;
  justify-content: space-around;
}
.navigation-bar a:hover{
  background-color: rgb(0 0 0 / 10%);
}

.nav-text {
  margin: 5px;
  padding: 2px;
}

.navigation-items:hover {
  background-color: white;
  color: black;
  opacity: 0.7;
}

.navigation-items {
  margin-left: 10px;
  padding: 5px;
}

.welcome {
  max-width: 1440px;
  padding: 50px 0;
}

.welcome-title {
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-size);
  margin: 0px;
}

.enpoLogo {
  margin: 5px;
  border: 3px solid black;
  border-radius: 180px;
  width: 300px;
  height: 300px;
}

.about-pic {
  width: 40%;
  max-height: 400px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.department-title{
  width: 100vw;
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px solid;
}
.about {
  width: 40%;
  padding: 0 10px;
}

#department-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.GE {
  background-image: url("../pics/GE.jpg");
}

.GS {
  background-image: url(../pics/SI.png);
}
.dp-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: inherit;
}

.GM {
  background-image: url("../pics/GM.jpg");
}

.GI {
  background-image: url("../pics/GI.jpg");
}

.GP {
  background-image: url("../pics/GP.jpg");
}

.GC {
  background-image: url("../pics/GC.jpg");
}

.dp-name {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: initial;
  padding: 0 10px;
}

.dp:hover > .dp-name{

}

.CPST {
  background-image: url("../pics/CPST.jpg");
}

.dp {
  margin: 3% 3% 3% 3%;
  background-color: white;
  border: 1px solid;
  position: relative;
  width: 350px;
  height: 280px;
  transition: 0.5s;
  box-shadow: 2px 2px rgb(0 0 0 / 20%);

}
.dp:hover{
  box-shadow: 4px 4px rgb(0 0 0 / 100%);
  background-color: rgb(0 0 0 / 10%);
}

.footer-link {
  margin: 5px 15px 5px 15px;
}

.copyright {
  padding-bottom: 10px;
  margin-block-end: 0px;
}

.bot-container {
  max-width: 1440px;
}

footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  top: 5px;
}
footer p{
  line-height: 1rem;
  margin-right: 20px;
}
.nav >img{
  display: none;
  align-items: center;
  padding: 10px 10px;
  cursor: pointerf;
}

.open{
  display: inline-block;
}

@media all and (max-width: 400px){
  *{
    --h1-font-size: 6rem;
    --h2-font-size: 1.5rem;
    --p-font-size: 1rem;
  }
  .navigation-bar{
    flex-direction: column;
    display: none;

  }
  .navigation-items{
    margin-left: 0;
  }
  .nav > img {
    display: inline-block;
  }
  .big-about-container{
    margin-top: 50px;
  }
  .about-pic{
    display: none;
  }
  .big-nav-container{
    flex-direction: column;
  }
  .dp{
    width: 100%;
    height: 280px;
  }
  .about{
    width: 100%;
  }
}

@media all and (max-width: 800px) and (min-width:400px){
  *{
    --h1-font-size: 8rem;
    --h2-font-size: 1.6rem;
    --p-font-size: 1.2rem;
  }
  .dp{
    width: 280px;
  }
  .first-section{
  }
  #about-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .about{
    width: 90%;
  }
}
