body {
  font-family: 'Merriweather', serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
}
h1 {
  line-height: 2;
  font-weight: normal;
  font-family: 'Sacramento', cursive;
}
a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  display: inline-block;
}
h3, h2 {
  font-family: 'Montserrat', sans-serif;
}
p{
  text-align: justify;
}
hr{
  max-width: 720px;
  border: 5px 0px 0px 0px solid;
  background-color: black;
  width: 50%;
  height: 1px;
}
.first{
  color: white;
  background-image: url("../pics/wp1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.big-nav-container{

  display: flex;
  justify-content: center;
}
.big-welcome-container{
  padding-bottom: 50px;
  margin-bottom: -160px;
  display: flex;
  justify-content: center;
}
.big-department-container{
  color: black;
  display: flex;
  justify-content: center;
}
.big-about-container{
  display: flex;
  justify-content: center;
}
.big-bot-container{
  color: white;
      background-color: black;
  display: flex;
  justify-content: center;
}
.cont{
  max-width: 1440px;
}
.nav {
  max-width: 1440px;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
#nav-bar-title {
  padding: 5px;
  margin: 5px;
}

.navigation-bar {
  margin: 3px;
  display: flex;
  justify-content: space-around;
}
.nav-text{
  margin: 5px;
  padding: 2px;
}
.navigation-items:hover {
  background-color: white;
  color: black;
  opacity: 0.7;
}

.navigation-items {
  margin-left: 10px;
  padding: 5px;
}

.welcome {
  max-width: 1440px;
  padding: 8%;
}

.welcome-title {
  color: white;
  margin: 0px;
  font-size: 400%;
}

.enpoLogo
{
  margin: 5px;
  border:  3px solid black;
  border-radius: 180px;
  width: 300px;
  height: 300px;
}
.about-pic{
  margin: 5px;
  border: 3px solid black;
    border-radius: 30px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  width: 40%;
}

#department-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.GE {
  background-image: url("../pics/GE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
border-radius: 30px
}

.GS {

  background-image: url("../pics/SI.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
border-radius: 30px
}

.GM {
  background-image: url("../pics/GM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px
}

.GI {

  background-image: url("../pics/Gi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
border-radius: 30px
}

.GP {

  background-image: url("../pics/GP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px
}

.GC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url("../pics/GC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3% 5% 0px 5%;
  border: 3px solid;
  height: 200px;
  width: 300px;
  border-radius: 30px
}
.dp-name{
  font-size: 40px;
  background-color:white;
  color: black;
    opacity: 0.6;
}
.dp-name:hover{
  background-color:black;
  color: white;
    opacity: 0.6;
}
.CPST {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url("../pics/CPST.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid;
  height: 200px;
  width: 300px;
  margin: 3% 5% 0px 5%;
  border-radius: 30px
}

.dp {
  margin: 3% 5% 0px 5%;
}

.footer-link {
  margin: 5px 15px 5px 15px;
}

.copyright {
  padding-bottom: 10px;
  margin-block-end: 0px;
}

.bot-container {
  max-width: 1440px;
}
