
body{
font-family: 'Merriweather', serif;
margin: 0px;
padding: 0px;
text-align: center;
background-color: #f5f4f4  ;
}
header{
margin: 0px;
}
nav{
position: fixed;
top: 0px;
width: 100%;
height: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0px;
padding:0px;
background-color: #cae4db;
color: #00303f;
}
h1{
  line-height: 2;
  font-weight: normal;
    font-family: 'Sacramento', cursive;
}
h3 ,h2{
font-family: 'Montserrat', sans-serif;
}
#nav-bar-title{
padding: 0px;
margin: 3px   ;
}
.navigation-bar{
margin: 3px;
display: flex;
justify-content: space-around;
}
.navigation-items{
margin-left: 30px;
padding: 5px;
}
.main-container{
  margin-top: 50px;
}
.mid-right{
  display: flex;
  justify-content: space-between;
  border-right: 20px solid #064420;
  margin: 9% 0px 9% 0px;
  background-color: #caf7e3;
}
.mid-left{
  display: flex;
  justify-content: space-between;
  border-left: 20px solid #064420;
  text-align: left;
  background-color: #caf7e3;
}
.name{

}
.profile{
  width: 30%;
  height: 30%;
}
